{% extends 'layouts/main.html' %}
{% block title %}URL Detox: Home (by nouyang){% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
      <h1>URL Detox</h1>
        <p>I got fed up with links that are stupidly long so that companies can track my web
        activity, so I wrote a little script to remove the excess.</p>
</div>

    <legend>URL</legend>
    <div class="form-group">
      <!--<label for="inputURL" class="col-lg-4 control-label">URL</label>-->
      <div class="input-group">
        <input class="form-control" id="inputURL"
        placeholder="e.g. http://www.google.com/search?&q=nyancat" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Detox</button>
            </span>
      </div>
    </div>

        <!--<div class="form-group">-->
      <!--<div class="col-lg-10 col-lg-offset-2">-->
        <!--<button type="reset" class="btn btn-default">Cancel</button>-->
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
      <!--</div>-->
    <!--</div>-->

{% endblock %}
